.help-block {
	color: red;
}

.nonEQ{
	color: red;
	font-weight: 700;
}

.fb{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.fb > div{
	margin-right: 20px;
}

.fb__text{
	line-height: 37px;
}


#boxList-filters,
#boxesGrid-filters {
	display: none;
}

div.alert-success{
	background: #4fae4f;
    color: #fff;
    padding: 10px;
}

.alert-dismissible .btn-close{
	top:	-5px;
} 

img.gridTrash {
	width: 23px;
} 